body {
  font-family: "Varela Round", sans-serif;
  background-color: #eaf4fe;
}

.title {
  text-align: center;
  color: #004091;
  font-size: 40px;
}

.campo-mensaje {
  position: absolute;
  right: 15%;
  bottom: 19%;
}


.campo-texto {
  text-align: left;
  vertical-align: top;
  margin-left: 200px;
  margin-top: 50px;
}

#texto-encriptado::placeholder {
  color: #004091;
  /* Change the color to blue */
}

#texto-encriptado {
  background-color: #eaf4fe;
  font-size: 25px;
}

textarea {
  border: none;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  font-size: 20px;
  resize: none;
  font-family: "Varela Round", sans-serif;
}

p {
  margin-top: 200px;
  text-align: center;
}

.logo {
  position: absolute;
  width: 40px;
  height: 50px;
  top: 0;
  margin: 20px 0px 0px 20px;
  /*arriba derecha abajo izquierda */
}

.persona {
  position: absolute;
  width: 266px;
  height: 234px;
  top: 25%;
  left: 4%;
}

button {
  border-radius: 20px;
  padding: 15px 115px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  margin-top: 55px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-encriptar {
  color: white;
  background-color: #046da3;
  border: 1px solid #046da3;
  margin-right: 79px;
  margin-left: 205px;
  font-weight: bold;
}

.btn-encriptar:hover {
  background-color: #0ba8e2;
  border-color: #0ba8e2;
}

.btn-desencriptar {
  color: #046da3;
  background-color: white;
  border: 2px solid #046da3;
  font-weight: bold;
}

.btn-desencriptar:hover {
  background-color: lightgray;
}

.btn-copiar {
  position: absolute;
  right: 25%;
  bottom: 6%;
  padding: 8px 40px;
  border: 2px solid #0ba8e2;
  color: #0ba8e2;
}
.btn-copiar:hover{
  background-color: white;
}

.footer {
  color: #0ba8e2;
  position: absolute;
  bottom: 3%;
  width: 90%;
  height: 2.5rem;
  text-align: center;
}